@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /* background: orange; */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    /* background: url('me.jpeg') no-repeat; */
    background: linear-gradient(to right, rgb(0 0 0), rgb(255 255 255 / 0%)), url(me.jpeg) no-repeat;
    background-position: right top;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    /* background: orange; */
    max-width: 600px;
    margin: 20px 0 40px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    color: #00abf0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: #00abf0;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: .8;
}


/* KEYFRAME */
@keyframes showRight {
    100% {
        width: 0;
    }
}

/* Portfolio */
.pohome {
    height: 100vh;
    /* background: url('me.jpeg') no-repeat; */
    background: #081b29;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.grid-container {
    position: absolute;
    margin: 70px 0 40px;
    top: 0;
    right: 0px;
    width: 900px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.grid-content {
    /* max-width: 900px;
    margin: 20px 0 40px; */
    width: 80%; /* Adjust as needed */
    height: 80%; /* Adjust as needed */
    /*overflow: auto;  Enable scrolling */
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.photo-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: auto auto auto;
    gap: 16px;
    padding: 16px;
}

.photo-item {
    overflow: hidden;
    position: relative;
}

.photo-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.photo-item img:hover {
    transform: scale(1.1);
}

/* education */

  .education {
    background: #ffffff26;
    display: flex; 
    align-items: center; 
    border-color: #999; 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 5px; 
    margin-bottom: 1em;
  }

  .uni-logo {
    min-width: 75px; 
    filter: hue-rotate(140deg) brightness(1.3); 
    margin: 12.5px;
  }
